﻿@model SeizmoloskiZavod.Bll.Seizmograf

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Obriši</h2>

<h3>Jeste li sigurni da želite obrisati?</h3>
<div>
    <h4>Seizmograf</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>Naziv</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazSeizmografa)
        </dd>
        <dt>
            <b>Visina</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisinaSeizmografa)
        </dd>

        <dt>
            <b>Latituda</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatitudaSeizmografa)
        </dd>

        <dt>
            <b>Longituda</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongitudaSeizmografa)
        </dd>

        <dt>
            <b>Naziv postaje</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostajaSeizmografa)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {

        <div class="form-actions no-color">
            <input type="submit" value="Obriši" class="btn btn-default" /> |
            @Html.ActionLink("Natrag na popis", "Index")
        </div>
    }
</div>