﻿@model SeizmoloskiZavod.Bll.Obavijest

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ažuriranje</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Obavijest</h4>
    <hr />

    <div class="form-group">
        <b class="control-label col-md-2">Tip</b>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.IdTipaObavijesti, (SelectList)ViewBag.IdTipovaList,
            null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdTipaObavijesti, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <b class="control-label col-md-2">Korisnicko ime zaposlenika</b>
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.IdZaposlenikaObavijesti, (SelectList)ViewBag.IdZaposlenikaList,
            null, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdZaposlenikaObavijesti, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <b class="control-label col-md-2">Naslov</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.NaslovObavijesti, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <b class="control-label col-md-2">Sadržaj</b>
        <div class="col-md-10">
            @Html.EditorFor(model => model.SadrzajObavijesti, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Spremi" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Natrag na popis", "Index")
</div>
