﻿@using SeizmoloskiZavod.Bll
@model IEnumerable<SeizmoloskiZavod.Bll.Obavijest>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<TipObavijesti> tipovi = ViewData["tipovi"] as IEnumerable<TipObavijesti>;
    IEnumerable<Zaposlenik> zaposlenici = ViewData["zaposlenici"] as IEnumerable<Zaposlenik>;

}

<p></p>
<h2>Obavijesti</h2>

<p>
    @Html.ActionLink("Stvori novu obavijest", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            <b>Naslov</b>
        </th>
        <th>
            <b>Sadržaj</b>
        </th>
        <th>
            <b>Datum i vrijeme</b>
        </th>
        <th>
            <b>Tip</b>
        </th>
        <th>
            <b>Korisnicko ime zaposlenika</b>
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NaslovObavijesti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SadrzajObavijesti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumVrijemeObavijesti)
        </td>
        <td>
            @{ foreach (TipObavijesti tip in tipovi)
                {
                    if (tip.IdTipa == item.IdTipaObavijesti)
                    {
                        @Html.DisplayFor(modelItem => tip.NazTipa)
                    }
                }
            }
        </td>
        <td>
            @{ foreach (Zaposlenik z in zaposlenici)
                {
                    if (z.IdZaposlenika == item.IdZaposlenikaObavijesti)
                    {
                        @Html.DisplayFor(modelItem => z.KorisnickoImeZaposlenika)
                    }
                }
            }
        </td>
        <td>@Html.ActionLink("Ažuriraj", "Edit", new { id = item.IdObavijesti })</td>
        <td>
            @using (Html.BeginForm("Delete", "Obavijesti", new { id = item.IdObavijesti }))
            {
                <button class="btn btn-danger">Obriši</button>
            }
        </td>
    </tr>
    }

</table>
