﻿@using SeizmoloskiZavod.Bll
@model SeizmoloskiZavod.Bll.Postaja

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<Seizmograf> seizmografi = ViewData["seizmografi"] as IEnumerable<Seizmograf>;
}

<h2>Detalji</h2>

<div>
    <h4>Postaja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>Naziv</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NazPostaje)
        </dd>

        <dt>
            <b>Mjesto</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MjestoPostaje)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Ažuriraj", "Edit", new { id = Model.IdPostaje }) |
    @Html.ActionLink("Natrag na popis", "Index")
</p>

<h2>Seizmografi postaje</h2>

<p>
    @Html.ActionLink("Stvori novi seizmograf", "Create", "Seizmografi")
</p>

<table class="table">
    <tr>
        <th>
            <b>Naziv seizmografa</b>
        </th>
        <th>
            <b>Visina</b>
        </th>
        <th>
            <b>Latituda</b>
        </th>
        <th>
            <b>Longituda</b>
        </th>
        <th></th>
    </tr>

    @{
        foreach (Seizmograf seizmograf in seizmografi)
        {
            if (seizmograf != null && seizmograf.IdPostajeSeizmografa == Model.IdPostaje)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => seizmograf.NazSeizmografa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => seizmograf.VisinaSeizmografa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => seizmograf.LatitudaSeizmografa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => seizmograf.LongitudaSeizmografa)
                    </td>
                    <td>
                        @Html.ActionLink("Ažuriraj", "../Seizmografi/Edit", new { id = seizmograf.IdSeizmografa }) |
                        @Html.ActionLink("Detalji", "../Seizmografi/Details", new { id = seizmograf.IdSeizmografa })
                    </td>
                    <td>
                        @using (Html.BeginForm("Delete", "Seizmografi", new { id = seizmograf.IdSeizmografa }))
                        {
                            <button class="btn btn-danger">Obriši</button>
                        }
                    </td>

                </tr>

            }
        }
    }

</table>

