﻿@model IEnumerable<SeizmoloskiZavod.Bll.Postaja>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p></p>

@Html.ActionLink("Seizmografi", "Index", "Seizmografi", null, new { @class = "btn btn-primary" })

<h2>Postaje</h2>

<table class="table">
    <tr>
        <th>
            <b>Naziv</b>
        </th>
        <th>
            <b>Mjesto</b>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazPostaje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MjestoPostaje)
            </td>
            <td>
                @Html.ActionLink("Ažuriraj", "Edit", new { id = item.IdPostaje }) |
                @Html.ActionLink("Detalji", "Details", new { id = item.IdPostaje })
            </td>
        </tr>
    }

</table>