﻿@using SeizmoloskiZavod.Bll;
@model IEnumerable<SeizmoloskiZavod.Bll.Seizmograf>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<Postaja> postaje = ViewData["postaje"] as IEnumerable<Postaja>;
}

<p></p>

@Html.ActionLink("Izvrši mjerenja", "Mjerenje", "Seizmografi", null, new { @class = "btn btn-success" })

<h2>Seizmografi</h2>

<p>
    @Html.ActionLink("Stvori novi seizmograf", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            <b>Naziv</b>
        </th>
        <th>
            <b>Visina</b>
        </th>
        <th>
            <b>Latituda</b>
        </th>
        <th>
            <b>Longituda</b>
        </th>
        <th>
            <b>Naziv postaje</b>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazSeizmografa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisinaSeizmografa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatitudaSeizmografa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongitudaSeizmografa)
            </td>
            <td>
                @{
                    foreach (Postaja postaja in postaje)
                    {
                        if (postaja.IdPostaje == item.IdPostajeSeizmografa)
                        {
                            @Html.DisplayFor(modelItem => postaja.NazPostaje)
                        }
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Ažuriraj", "Edit", new { id = item.IdSeizmografa }) |
                @Html.ActionLink("Detalji", "Details", new { id = item.IdSeizmografa })
            </td>
            <td>
                @using (Html.BeginForm("Delete", "Seizmografi", new { id = item.IdSeizmografa }))
                {
                    <button class="btn btn-danger">Obriši</button>
                }
            </td>
        </tr>
    }
</table>
