﻿@using SeizmoloskiZavod.Bll
@model SeizmoloskiZavod.Bll.Zaposlenik

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<Obavijest> obavijesti = ViewData["obavijesti"] as IEnumerable<Obavijest>;
    IEnumerable<TipObavijesti> tipovi = ViewData["tipovi"] as IEnumerable<TipObavijesti>;
    List<SeizmoloskiZavod.Bll.TipObavijesti> listaTipova = TipObavijesti.Get();

}

<script src="../../Scripts/jquery-1.5.1-vsdoc.js" type="text/javascript"></script>


<h2>Detalji</h2>

<div>
    <h4>Zaposlenik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <b>Uloga</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UlogaZaposlenika)
        </dd>
        <dt>
            <b>Ime</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImeZaposlenika)
        </dd>
        <dt>
            <b>Prezime</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrezimeZaposlenika)
        </dd>

        <dt>
            <b>OIB</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OIBZaposlenika)
        </dd>

        <dt>
            <b>Korisnicko Ime</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KorisnickoImeZaposlenika)
        </dd>

        <dt>
            <b>Hash lozinke</b>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LozinkaHashZaposlenika)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ažuriraj", "Edit", new { id = Model.IdZaposlenika }) |
    @Html.ActionLink("Natrag na popis", "Index")
</p>

<h2>Postavljene obavijesti</h2>

<table class="table">
    <tr>
        <th>
            <b>Naslov</b>
        </th>
        <th>
            <b>Sadržaj</b>
        </th>
        <th>
            <b>Tip</b>
        </th>
        <th></th>
    </tr>

    @{
        foreach (Obavijest obavijest in obavijesti)
        {
            if (obavijest != null && obavijest.IdZaposlenikaObavijesti == Model.IdZaposlenika)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => obavijest.NaslovObavijesti)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => obavijest.SadrzajObavijesti)
                    </td>
                    <td>
                        @Html.DropDownListFor(m => obavijest.IdTipaObavijesti, new SelectList(listaTipova, "IdTipa", "NazTipa", obavijest.IdTipaObavijesti), 
                            new { @class = "form-control", data_idobavijesti=obavijest.IdObavijesti })
                        <span class="rezultat"></span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => obavijest.ZaposlenikObavijesti)
                    </td>

                    <td>
                        @using (Html.BeginForm("Delete", "Obavijesti", new { id = obavijest.IdObavijesti }))
                        {
                            <button class="btn btn-danger">Obriši</button>
                        }
                    </td>
                </tr>

            }
        }
    }

</table>


<script type="text/javascript" language="javascript">
    $(function () {
        $('.form-control').each(function () { // svakoj kontroli s css klasom ddlUloga
            $(this).change(function () {
                // dodaje se kod događaja pri promjeni odabranog u listi
                var span = $(this).parent().find(".rezultat").first(); // span pored liste za rezultat
                var idtipa = $(this).val();
                // odabrani value u listi, vlastiti atribut sif, vlastiti atribut idosobe, prostor za rezultat
                promijeniTip($(this).data('idobavijesti'), idtipa, span);
            }
            );
        }
        );
    }
    );

    // ajax post zahtjev na controller
    // vrti se na klijentu ali šalje .post na server
    function promijeniTip(idobavijesti, idtipa, span) {
        // pozovem kontroler Projekt, akciju PromijeniUlogu
        $.post("../../Obavijesti/PromijeniTip",
            { IdObavijesti: idobavijesti, IdTipa: idtipa },
            function (data) {  // nakon izvršavanja sa servera
                $(span).html('').fadeIn(); // počisti span
                if (data == 'OK') { // pokaži OK i nestani
                    $(span).html(data).fadeOut(1000); // ... nakon 1s
                }
                else { // pokaži što je vratio server, npr. error
                    $(span).html(data);
                }
            }
        );
    }
</script>
