﻿@using SeizmoloskiZavod.Bll;
@model IEnumerable<SeizmoloskiZavod.Bll.Zaposlenik>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IEnumerable<Uloga> uloge = ViewData["uloge"] as IEnumerable<Uloga>;
}

<h2>Zaposlenici</h2>

<p>
    @Html.ActionLink("Stvori novog zaposlenika", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            <b>Uloga</b>
        </th>

        <th>
            <b>Ime</b>
        </th>
        <th>
            <b>Prezime</b>
        </th>
        <th>
            <b>OIB</b>
        </th>
        <th>
            <b>Korisnicko ime</b>
        </th>
        <th>
            <b>Hash lozinke</b>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @{
                foreach (Uloga uloga in uloge)
                {
                    if (uloga.IdUloge == item.IdUlogeZaposlenika)
                    {
                        @Html.DisplayFor(modelItem => uloga.NazUloge)
                    }
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImeZaposlenika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrezimeZaposlenika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OIBZaposlenika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KorisnickoImeZaposlenika)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LozinkaHashZaposlenika)
        </td>
        <td>
            @Html.ActionLink("Ažuriraj", "Edit", new { id = item.IdZaposlenika }) |
            @Html.ActionLink("Detalji", "Details", new { id = item.IdZaposlenika })
        </td>
        <td>
            @using (Html.BeginForm("Delete", "Zaposlenici", new { id = item.IdZaposlenika }))
            {
                <button class="btn btn-danger">Obriši</button>
            }
        </td>
    </tr>
    }
</table>

